/* Categories.css */
.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -400px 20px 20px 20px;
    position: relative; 
    z-index: 2;
  }
  
  .category-box {
    flex: 1 1 calc(15% - 20px);
    margin: 10px; 
    height: 371px;
    padding: 20px;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease; 
  }
  
  .category-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  }
  
  .category-box h3 {
    margin: 0px 20px 5px 0;
    font-size: 1.5em;
    color: #333;
  }
  
  .category-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }
  
  .category-box button {
    padding: 10px 20px;
    background-color: white;
    color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
 
  
  @media (max-width: 1200px) {
    .category-box {
      flex: 1 1 calc(25% - 20px);
    }
    .categories-container {
        margin-top: 0px;
    }
  }
  
  @media (max-width: 992px) {
    .category-box {
      flex: 1 1 calc(33.33% - 20px); 
    }
  }
  
  @media (max-width: 768px) {
    .category-box {
      flex: 1 1 calc(50% - 20px);
    }
  }
  
  @media (max-width: 576px) {
    .category-box {
      flex: 1 1 100%;
    }
  }
  