/* CategoryPage.css */
.category-page-container {
    padding: 20px;
    text-align: center;
  }
  
  .category-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
  }
 
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
