.secondary-header {
    background-color: #085749;
    padding: 14px;
  }
  
  .secondary-header__container {
    display: flex;
    justify-content: space-between;
    color: white;
  }
  
  .secondary-header__left,
  .secondary-header__right {
    display: flex;
    align-items: center;
  }
  
  .secondary-header__left a,
  .secondary-header__right a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .secondary-header__left a:hover,
  .secondary-header__right a:hover {
    border: 1px solid white; /* Add white border on hover */
    padding: 10px; /* Add some padding for better appearance */
  }
  
  .fa-bars {
    margin-right: 5px;
  }
 
  .fa-bars::before {
    font-size: 20px;
  }